body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #ccc;
    padding: 10px 0;
}

.nav-container,
.main-container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.header-text-wrapper {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.header-text {
    animation: slide 2s;
}

p {
    overflow-wrap: break-word;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


.main-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-section {
    display: flex;
    flex-direction: column;
}

.items-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.info-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.items {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.item {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.item img {
    width: 100%;
    height: auto;
    transition: transform 2s;
}

.item:hover img {
    transform: scale(1.2);
}

.item-name {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
}

.item:hover .item-name {
    display: block;
}

/* Media Queries */
@media screen and (max-width: 480px) {
    nav {
        flex-direction: column;
    }

    .items {
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
    nav {
        flex-wrap: wrap;
    }

    .items {
        width: 45%;
    }
}

@media screen and (min-width: 801px) {
    nav {
        flex-direction: row;
    }

    .items-section
    .items {
        width: 22%;
    }
}
